.DS_Store
__pycache__
node_modules/
dist/
static/
config/
settings.py
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pyc
config.py
img/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
